<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container container-lg">

        <div class="row-fluid">
            <div class="col-md-3">
                <button class="btn-primary btn-sm" ng-click="pager.firstPage()">First</button>
                <button class="btn-primary btn-sm" ng-click="pager.prevPage()">Prev</button>
            </div>

            <div class="col-md-6">
                {{category.name}}
                Page: {{pager.pageIndex+1}} / {{pager.pageCount}} (Total: {{pager.data.length}})
            </div>

            <div class="col-md-3">
                <button class="btn-primary btn-sm pull-right" ng-click="pager.lastPage()">Last</button>
                <button class="btn-primary btn-sm pull-right" ng-click="pager.nextPage()">Next</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-4" ng-repeat="p in pager.content track by $index">
                <div class="panel panel-primary panel-widget">


                    <div class="panel-body">

                        <table class="table" style="width:100%">
                            <tr><td colspan="2" align="center"><a ng-href="#/products/{{p.sku}}" style="color:#797a7a">{{p.name}}</a></td></tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <img ng-show="p.imageUrl==''" src="/img/page-loading.gif" height="250px" />

                                    <a ng-show="p.imageUrl!=''" ng-href="#/products/{{p.sku}}">
                                        <img ng-src="/magento/products/{{p.sku}}/image" height="250px" width="250px" />
                                    </a>

                                    <br />
                                    <a ng-href="/magento/products/{{p.sku}}/3d-model">3D Model Download (Android)</a>
                                    <br />
                                    <a ng-href="/magento/products/{{p.sku}}/3d-model">3D Model Download (iOS)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{{p.price | currency}}</td>
                                <td>{{p.type_id}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel-footer">
                        {{p.updated_at}}
                    </div>
                </div>

            </div>
        </div>



</div>
</html>
